<h1 align="center">
<span class="label label-primary">Modulo Laboratorio</span>
</h1>

<a href="medicos" class="btn btn-info navbar-btn">Medicos</a>
<a href="pacientes" class="btn btn-info navbar-btn">Pacientes</a>
<a href="laboratorists" class="btn btn-info navbar-btn">Laboratoristas</a>
<a href="sedes" class="btn btn-info navbar-btn">Sedes</a>
<a href="examns" class="btn btn-info navbar-btn">Examenes</a>
<a href="muestras" class="btn btn-info navbar-btn">Muestras</a>
<a href="laboratorios" class="btn btn-info navbar-btn">Laboratorios</a>
<a href="laboratorio_examns" class="btn btn-info navbar-btn">Laboratorio Examenes</a>
<a href="laboratorio_laboratorists" class="btn btn-info navbar-btn">Laboratorio Laboratoristas</a>
<a href="medico_pacientes" class="btn btn-info navbar-btn">Medico Pacientes</a>
<a href="paciente_examns" class="btn btn-info navbar-btn">Paciente Examenes</a>

<body background="fondo1.png"></body>
